In [1]:
import pandas as pd
df = pd.read_csv("../../data/obesity_final.csv")
df.head()

target = 'nobeyesdad'
df_original = df.copy(deep=True)
df

,gender,age,height,weight,family_history_with_overweight,favc,fcvc,ncp,caec,smoke,ch2o,scc,faf,tue,bad_habits,calc,mtrans,nobeyesdad
0,Female,21,162.0,64.0,yes,no,2.00,3.0,Sometimes,no,2.00,no,0.00,1.00,1,no,Public_Transportation,Normal_Weight
1,Male,23,180.0,77.0,yes,no,2.00,3.0,Sometimes,no,2.00,no,2.00,1.00,1,Frequently,Public_Transportation,Normal_Weight
2,Male,27,180.0,87.0,no,no,3.00,3.0,Sometimes,no,2.00,no,2.00,0.00,1,Frequently,Walking,Overweight_Level_I
3,Male,22,178.0,89.8,no,no,2.00,1.0,Sometimes,no,2.00,no,0.00,0.00,1,Sometimes,Public_Transportation,Overweight_Level_II
4,Male,29,162.0,53.0,no,yes,2.00,3.0,Sometimes,no,2.00,no,0.00,0.00,1,Sometimes,Automobile,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131,Male,30,191.0,129.0,yes,yes,2.10,3.0,Sometimes,yes,1.01,no,0.98,0.04,0,Sometimes,Public_Transportation,Obesity_Type_II
2132,Male,31,187.0,127.0,yes,yes,2.73,3.0,Sometimes,yes,1.48,no,1.48,1.15,0,Sometimes,Public_Transportation,Obesity_Type_II
2133,Male,30,190.0,129.0,yes,yes,2.22,3.0,Sometimes,yes,1.59,no,1.39,0.91,0,Sometimes,Public_Transportation,Obesity_Type_II
2134,Male,31,184.0,125.0,yes,yes,2.49,3.0,Sometimes,yes,1.66,no,0.99,0.21,0,Sometimes,Public_Transportation,Obesity_Type_II
2135,Male,31,184.0,125.0,yes,yes,2.15,3.0,Sometimes,yes,1.49,no,0.88,0.52,0,Sometimes,Public_Transportation,Obesity_Type_II

In [2]:
# check data shape
print(df.shape)
# check missing data. If missing data, action is need it
df.isna().sum()

(2136, 18)

gender                            0
age                               0
height                            0
weight                            0
family_history_with_overweight    0
favc                              0
fcvc                              0
ncp                               0
caec                              0
smoke                             0
ch2o                              0
scc                               0
faf                               0
tue                               0
bad_habits                        0
calc                              0
mtrans                            0
nobeyesdad                        0
dtype: int64

In [3]:
# This step can be used to set a performance baseline 
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,2136.0,23.911049,6.300481,14.0,19.0000,22.00,26.00,61.0
height,2136.0,169.817884,9.295920,145.0,163.0000,170.00,176.00,198.0
weight,2136.0,85.985534,26.133833,39.0,65.0000,82.50,106.25,173.0
fcvc,2136.0,2.418132,0.534713,1.0,2.0000,2.39,3.00,3.0
ncp,2136.0,2.690566,0.779694,1.0,2.6675,3.00,3.00,4.0
ch2o,2136.0,2.002575,0.612520,1.0,1.5675,2.00,2.47,3.0
faf,2136.0,1.045037,0.855676,0.0,0.1700,1.00,1.73,3.0
tue,2136.0,0.669972,0.611928,0.0,0.0000,0.64,1.00,2.0
bad_habits,2136.0,0.979401,0.142072,0.0,1.0000,1.00,1.00,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2136 entries, 0 to 2135
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gender                          2136 non-null   object
 1   age                             2136 non-null   int64
 2   height                          2136 non-null   float64
 3   weight                          2136 non-null   float64
 4   family_history_with_overweight  2136 non-null   object
 5   favc                            2136 non-null   object
 6   fcvc                            2136 non-null   float64
 7   ncp                             2136 non-null   float64
 8   caec                            2136 non-null   object
 9   smoke                           2136 non-null   object
 10  ch2o                            2136 non-null   float64
 11  scc                             2136 non-null   object
 12  faf                             2136 non-null   float64
 13  tue                             2136 non-null   float64
 14  bad_habits                      2136 non-null   int64
 15  calc                            2136 non-null   object
 16  mtrans                          2136 non-null   object
 17  nobeyesdad                      2136 non-null   object
dtypes: float64(7), int64(2), object(9)
memory usage: 300.5+ KB

In [5]:
gender_dict = {'Female':0, 'Male':1}
df['gender'] = df['gender'].map(gender_dict)

hist_dict = {'no':0, 'yes':1}
df['family_history_with_overweight'] = df['family_history_with_overweight'].map(hist_dict)

favc_dict = {'no':0, 'yes':1}
df['favc'] = df['favc'].map(favc_dict)

caec_dict = {'no':0, 'Sometimes':1, 'Frequently':2, 'Always':3}
df['caec'] = df['caec'].map(caec_dict)

smoke_dict = {'no':0, 'yes':1}
df['smoke'] = df['smoke'].map(smoke_dict)

scc_dict = {'no':0, 'yes':1}
df['scc'] = df['scc'].map(scc_dict)

calc_dict = {'no':0, 'Sometimes':1, 'Frequently':2, 'Always':3}
df['calc'] = df['calc'].map(calc_dict)

trans_dict = {'Automobile':0, 'Motorbike':1, 'Public_Transportation':2, 'Bike':3, 'Walking':4}
df['mtrans'] = df['mtrans'].map(trans_dict)

# obesity_dict = {'Insufficient_Weight':0, 'Normal_Weight':1, 'Overweight_Level_I':2, 'Overweight_Level_II':3, 'Obesity_Type_I':4, 'Obesity_Type_II':5, 'Obesity_Type_III':6}
# df['nobeyesdad'] = df['nobeyesdad'].map(obesity_dict)

In [6]:
df.head()

,gender,age,height,weight,family_history_with_overweight,favc,fcvc,ncp,caec,smoke,ch2o,scc,faf,tue,bad_habits,calc,mtrans,nobeyesdad
0,0,21,162.0,64.0,1,0,2.0,3.0,1,0,2.0,0,0.0,1.0,1,0,2,Normal_Weight
1,1,23,180.0,77.0,1,0,2.0,3.0,1,0,2.0,0,2.0,1.0,1,2,2,Normal_Weight
2,1,27,180.0,87.0,0,0,3.0,3.0,1,0,2.0,0,2.0,0.0,1,2,4,Overweight_Level_I
3,1,22,178.0,89.8,0,0,2.0,1.0,1,0,2.0,0,0.0,0.0,1,1,2,Overweight_Level_II
4,1,29,162.0,53.0,0,1,2.0,3.0,1,0,2.0,0,0.0,0.0,1,1,0,Normal_Weight

In [7]:
df.to_csv("df_full.csv", index=False)

In [26]:
from sklearn.model_selection import train_test_split

# Dividir los datos en conjuntos de entrenamiento y prueba
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

In [27]:
train_df.shape, test_df.shape

((1708, 18), (428, 18))

In [28]:
train_df.to_csv('train.csv', index=False)
test_df.to_csv('test.csv', index=False)

In [29]:
train_regression_df = train_df.copy(deep=True)
test_regression_df = test_df.copy(deep=True)

In [9]:
obesity_dict = {'Insufficient_Weight':0, 'Normal_Weight':1, 'Overweight_Level_I':2, 'Overweight_Level_II':3, 'Obesity_Type_I':4, 'Obesity_Type_II':5, 'Obesity_Type_III':6}

In [30]:
train_regression_df['nobeyesdad'] = train_regression_df['nobeyesdad'].map(obesity_dict)
test_regression_df['nobeyesdad'] = test_regression_df['nobeyesdad'].map(obesity_dict)

In [31]:
train_regression_df.to_csv('train_regression.csv', index=False)
test_regression_df.to_csv('test_regression.csv', index=False)